
*   { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.box4 {
    border-top-width: 50px;
    float: left;
    margin-left: 15px;
    margin-top: 30px;

}
.red4 { 
    height: 400px;
    width: 32%;
    color: red;
    background-color: red;
    border-color: red;
}
.green4 {
    border-color: springgreen; 
    height: 400px;
    width: 32%;
    background-color: springgreen;
    color:springgreen;
}
.blue4 {
    border-color: blue;
    height: 400px;
    width: 32%;
    background-color: blue;
    color: blue;
}